{% extends "base.html" %}
{% set active_page = "project_detail"%}

{% block subtitle %}
{{project.name}}
{% endblock %}
{% block content %}
<div class="row">
<div class="col-sm-12">
<h1 class="text-center">{{project.name}}</h1>
<div class="tex-center"> by {{project.creator.first_name}}{{project.creator.last_name}}</div>
</div>
</div>

<div class="col-xs-12" style="height: 130px"></div>

<div class="row">
<div class="col-sm-8">
<div class="panel">
<p class="text-center">{{project.short_description}}</p>
<img class="img-responsive center-block" src="{{project.image_path}}" width="1200" height="980">
</div>

<div >
<p class="text-center">{{project.long_description}}</p>
</div>
</div>

<div class="col-sm-4">


<div class="panel">
<span class="project-vitals">{{project.num_pledges}}</span> Pledges
</div>


<div class="panel">
<span class="project-vitals">${{project.total_pledges}}</span><br/>
Pledged of ${{project.goal_amount}}
goal
</div>

<div class="panel">
<span class="project-vitals">{{project.num_days_left}}</span> Days Left </div>

<div class="panel">
<a href="{{url_for('pledge',project_id=project.id)}}" class="btn btn-punchstarter"> Pledge Now
</a>
</div>
</div>
</div>
{% endblock %}

















